@charset "UTF-8";


#titletxt {
	font-weight: bold;
	font-size: 2.5em;
	margin-left: 30px;
	padding-top: 30px;
	color: #7674e2;
}

.part {
	margin: 0px auto;
	padding: 10px 30px;
	margin-top: 20px;
	background-color: #f0f0f6;
	width: 60%;
	text-align: center;
}

.part span, .subtitle, #sub button {
	color: white;
	border-radius: 5px;
	padding: 5px 20px;
}

.subtitle {
	background-color: #2e364a;
}

#sub button {
	background-color: #5b6172;
}

#day {
	color: black;
	margin-right: 20px;
}

select {
	color: black;
	padding: 5px;
}

#search {
	padding: 5px;
	margin-right: 13px;
	width: 250px;
}

#type {
	margin-left: 25px;
}

#board th, #board td {
	text-align: center;
	padding: 10px;
}

#board, #sel {
	width: 80%;
	margin: 0px auto;
}

#board th {
	background-color: #2e364a;
	color: white;
}

#sel {
	text-align: right;
	margin-top: 100px;
}